<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="shortcut icon" href="#"> -->
    <title>login</title>
</head>
<body>
    <form id="login-form">
        <input type="text" placeholder="ID" name="id" id="login-form_id"><br>
        <input type="text" placeholder="password" name="passwd" id="login-form_passwd"><br>
        <input type="submit" value="login" id="login-form_login-btn">
        <input type="submit" value="signup" id="login-form_signup-btn">
        <input type="submit" value="mypage", id="login-form_mypage-btn">
    </form>
    <script src='script/index-cli.js'></script>
</body>
</html>