<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="shortcut icon" href="#"> -->
    <title>signup</title>
</head>
<body>
    <form id="signup-form">
        <input type="text" placeholder="ID" name="id" id="signup-form_id"><br>
        <input type="text" placeholder="password" name="passwd1" id="signup-form_passwd1"><br>
        <input type="text" placeholder="re enter password" name="passwd2" id="signup-form_passwd2"><br>
        <input type="submit" value="signup" id="signup-form_signup-btn">
        <input type="submit" value="main page" id="signup-form_mainpage-btn">
    </form>
    <script src="/script/signup-cli.js"></script>
</body>
</html>